#qa-widget * {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

#more-questions, #add-question {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 1.5rem;
  border-radius: 10px;
  color: white;
  background-color: var(--color-secondary);
  border: 1px, solid, var(--color-secondary);
}

#add-question {
  margin-left: 1rem;
  padding-inline: 1.5rem;
  border-radius: 10px;
  color: white;
  background-color: var(--color-secondary);
  border: 1px, solid, var(--color-secondary);
}

a {
  color: var(--color-secondary)
}

.link {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-secondary);
  text-decoration: underline;
  cursor: pointer;
}

.link:visited {
  color: purple
}

/* answer styles */
.answers-container {
  overflow-y: auto;
  max-height: 50vh;
  width: 75%;
  box-shadow: 1px 23px 37px -40px rgb(0 0 0 / 58%) inset;
  padding: 1rem;
}

.answer {
  margin-bottom: 1.5rem;
}

#answer-tag {
  font-weight: bold;
}

.answer-body-text {
  font-size: 0.9rem;
}

.answer-body, .answer-thumbnails {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.answer-info, .answer-thumbnails {
  padding-left: 1rem;
}

.answer-info {
  font-size: x-small;
  display: flex;
  gap: 1rem;
}

.answer-helpfulness {
  display: flex;
  gap: 0.35rem;
}

/* question styles */
.question-title {
  margin-bottom: 1rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.question-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

#question-body {
  font-weight: bold;
}

.question-requests {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
}

.question-helpfulness {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* questions list styles */
.questions-list{
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* search bar styles */
.search-bar {
  width: 23rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.15rem;
}

/* question modal form styles */
form .question-form-username {
  width: 20rem;
}

form .question-form-email {
  width: 20rem;
}

form .question-form-body {
  width: 35rem;
  height: 15rem;
}

/* answer modal form styles */
form .input-info {
  font-size: small;
}

form .answer-form-username {
  width: 20rem;
}

form .answer-form-email {
  width: 20rem;
}
form .answer-form-body {
  width: 30rem;
  height: 8rem;
}

form .answer-form-add-photo {
  margin-bottom: 1rem;
}

form .answer-form-photos {
  margin-bottom: 0.5rem;
}
