#qa-widget * {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-left: 1rem;
}

#question-title {
  font-weight: bold;
}

#answer-info {
  font-size: x-small;
}

#more-questions {
  margin-top: 1rem;
  padding: 1rem 0.5rem;
}

#add-question {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem 0.5rem;
}

/* question modal form styles */
form .question-form-body {
  width: 30rem;
  height: 20rem;
}

form .question-form-email {
  width: 30rem;
}

/* answer modal form styles */
form .input-info {
  font-size: small;
}

form .answer-form-username {
  width: 20rem;
}

form .answer-form-email {
  width: 20rem;
}
form .answer-form-body {
  width: 40rem;
  height: 10rem;
}
