#qa-widget * {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-left: 1rem;
}

#question-title {
  font-weight: bold;
}

#answer-info {
  font-size: x-small;
}

#more-questions {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
