#qa-widget * {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-left: 1rem;
}

#question-body {
  font-weight: bold;
}

#answer-info {
  font-size: x-small;
}

#more-questions {
  margin-top: 1rem;
  padding: 1rem 0.5rem;
}

#add-question {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem 0.5rem;
}

.question-title {
  margin-bottom: 1rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.question-requests {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.search-bar {
  width: 23rem;
  margin-bottom: 1rem;
}

/* question modal form styles */
form .question-form-username {
  width: 20rem;
}

form .question-form-email {
  width: 20rem;
}

form .question-form-body {
  width: 35rem;
  height: 15rem;
}


/* answer modal form styles */
form .input-info {
  font-size: small;
}

form .answer-form-username {
  width: 20rem;
}

form .answer-form-email {
  width: 20rem;
}
form .answer-form-body {
  width: 30rem;
  height: 8rem;
}

form .answer-form-add-photo {
  margin-bottom: 1rem;
}

form .answer-form-photos {
  margin-bottom: 0.5rem;
}

.answers-container {
  overflow-y: auto;
  max-height: 50vh;
  width: 75%;
  box-shadow: 1px 23px 37px -40px rgb(0 0 0 / 58%) inset;
  margin-left: 1rem;
}

.answer {
  margin-bottom: 1.5rem;
}

.question-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.questions-list{
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
