@import url('./productComparison.css');

.related-products-comparison > div {
  margin-bottom: 4rem;
}

.related-products,
.outfit-list {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.related-products-comparison .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.related-products-comparison .overlay.left {
  left: 0;
  right: auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 100%);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
}

.related-products-comparison .overlay.right {
  right: 0;
  left: auto;
  background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 100%);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
}

.related-products .products {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
}

.related-products .products .navigation > div {
  position: absolute;
  z-index: 20;
  top: calc(50% - 16px);
  transition: opacity 0.3s ease;
}

.related-products .products .navigation > .left {
  left: 0;
  right: auto;
}

.related-products .products .navigation > .right {
  right: 0;
  left: auto;
}

.related-products .products .navigation > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.product-card,
.add-card {
  position: relative;
  background: #fff;
  height: 360px;
  min-width: 270px;
  max-width: 270px;
  margin-right: 2rem;
  border: 1px solid gray;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.product-card .img {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  background: #ccc;
}

.product-card .img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.product-card .star {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.product-card .info {
  padding: 0rem 0.75rem;
  font-family: 'Inter', sans-serif;
}

.product-card .info > div {
  margin: 1rem 0;
}

.product-card .info .product-name {
  font-weight: 600;
  font-size: 1.15rem;
}

.product-card .info .sale-price {
  color: red;
  margin-right: 0.5rem;
}

.product-card .info .original-price {
  color: gray;
  text-decoration: line-through;
}

.add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.add-card > button {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.5rem;
  background: none;
  cursor: pointer;
  transition: background 0.15s ease;
}

.add-card > button:hover {
  background: rgb(0, 0, 0, 0.1);
}
