.atc-container {
  display: grid;
  grid-template-columns: .75fr .75fr 1.25fr 1.25fr .65fr;
  width: 40vh;
  gap: 15px 15px;
  padding-top: .75rem;
  padding-bottom: 1rem;
}

.select-size {
  padding: 0 0 0 10px;
  grid-column: span 3;
  height: 3rem;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
}

.select-qty {
  padding-left: 5px;
  height: 3rem;
  grid-column: 4 / 6;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-bag {
  grid-column: span 5;
  color: white;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  height: 3rem;
  cursor: pointer;
}

.icon-star {
  justify-self: end;
  border-radius: 10px;
  height: 1.1rem;
  width: 1.1rem;
  border: 1px solid #000;
  padding: 10px;
}

.notification-error-container {
  border: 1px solid #990f02;
  border-radius: 10px;
  max-width: 40vw;
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.notification-success {
  border: 1px solid #006400;
  border-radius: 10px;
  max-width: 45vh;
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.notification-body-error {
  padding-left: 1.5rem;
  color:#990f02;
  font-size: 1rem;
}

.notification-body-success {
  padding-left: 1.5rem;
  color:#006400;
  font-size: 1rem;
}

.close-notification {
  background: transparent;
  border: none;
}

.error-space {
  flex-grow: 4;
}

.exclamation-mark {
  border: 1px solid #990f02;
  border-radius: 50%;
  color: #990f02;
  height: 1.3rem;
  width: 1.3rem;
}

.check-mark {
  border: 1px solid #006400;
  border-radius: 50%;
  color: #006400;
  height: 1.3rem;
  width: 1.3rem;
}

.x-symbol {
  height: 1.3rem;
  width: 1.3rem;
  position: relative;
  top: 0.15rem;
  color: #000;
}

