.product-overview .description-container {
  padding-left: .5rem;
  font-family: 'Inter', sans-serif;
  src: url(@/assets/fonts/Inter.woff2) format('woff2');
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 14em;
}

.product-overview .desc-title {
  font-weight:400;
  font-size: 1.1rem;
  color: #333;
  padding-bottom: .75rem;
}

.product-overview .slogan {
  font-weight:400;
  font-size: .95rem;
  color: #333;
  padding-bottom: .5rem;
}

.product-overview .desc-summary {
  max-width: 22rem;
  font-weight: 400;
  font-size: .9rem;
  color: #333;
}

.product-overview .features {
  font-weight:400;
  font-size: .9rem;
  color: #333;
}

ul {
  list-style: none;
  padding-left: .5rem;
  line-height: 1.4rem;
}

li {
  padding-left: .5rem;
}
