/* IMAGE GALLERY COMPONENT */
.product-overview .carousel {
  background-color: #ccc;
  position: relative;
  height: 540px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-overview .image {
  width: auto;
  max-width: 370px;
  height: 500px;
  max-height: 500px;
  border-radius: 10px;
}

.product-overview .right-arrow {
  position: absolute;
  top: 50%;
  right: 75px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product-overview .left-arrow {
  position: absolute;
  top: 50%;
  left: 75px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product-overview .up-arrow {
  position: absolute;
  bottom: 96%;
  margin-left: 15px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product-overview .down-arrow {
  position: absolute;
  top: 100%;
  margin-left: 15px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product-overview .slide {
  opacity: 0;
}

.product-overview .slide.active {
  opacity: 1;
}

.product-overview .container-squares {
  top: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-overview .square {
  width: 46px;
  height: 46px;
  border: 1px solid gray;
  margin: 19px 0px 2px 15px;
  z-index: 1;
  cursor: pointer;
}

.product-overview .square.active {
  background: #ccc;
}

.product-overview .snippit {
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.product-overview .highlight {
  background-color: gray;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  height: 1px;
  max-width: 44px;
  padding: 1px;
  z-index: 1;
}

.product-overview .space {
  padding-bottom: 1rem;
}
