.product-overview {
  padding-top: 0rem;
}

nav {
  background-color: var(--color-secondary);
}

.product-overview .image-gallery h4, .product-info h4, .style-selector h4, .add-to-cart h4, .description h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin: 1rem 0;
}

/* CONTAINER */
.product-overview .main-container {
  display: flex;
}

.banner {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  color: #333;
  padding: 1rem 0rem;
  font-size: 15px;
}

.banner-padding {
  padding-left: .4rem;
}

.banner-sub-1 {
  font-weight: 600;
}

.banner-sub-2 {
  font-size: 12px;
}
