/* PRODUCT INFORMATION MAIN */
.product-overview .prodInfo-container {
  display: flex;
  flex-direction: column;
}

.product-overview .product-info {
  padding: 2rem 1rem;
}

.product-overview .space {
  padding-bottom: .5rem;
}

.product-overview .star-reviews {
  flex: 1;
}

.product-overview .category-title {
  flex: 1;
}

.product-overview .product-name {
  flex: 1;
}

.product-overview .product-price {
  flex: 1;
}

.product-overview .style-selector {

}

.product-overview .atc-container {

}

/*TOGGLE STAR*/
.product-overview .icon-star {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  padding: 10px;
}
