/* PRODUCT INFORMATION MAIN */
.product-overview .prodInfo-container {
  display: flex;
  flex-direction: column;
  visibility: visible;
  transition-property: visibility;
  transition-duration: 500ms;
}

.product-overview .prodInfo-container-invisible {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0ms;
}

.product-overview .product-info {
  padding-top: .7rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
}

.product-overview .space {
  padding-bottom: .85rem;
}

.product-overview .star-reviews {
  flex: 1;
}

.product-overview .category-title {
  flex: 1;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  padding-bottom: .2rem;
}

.product-overview .product-name {
  flex: 1;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  padding-bottom: 1rem;
}

.product-overview .product-price {
  flex: 1;
}

.brand-name {
  font-weight: 400;
  font-size: 1.4rem;
  color: #333;
  margin: 0;
}

.price-container {
  padding-bottom: .5rem;
}

.default-price {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.og-price {
  padding-left: .5rem;
  text-decoration: line-through;
  font-weight: 500;
  color: red;
  font-size: 1rem;
}

.percent-off {
  padding-left: .5rem;
  color: green;
  font-size: 1rem;
  font-weight: 500;
}

.sale-price-msg {
  padding-bottom: .5rem;
  font-weight: 600;
  font-size: 1rem;
}

.sale-price {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
