/* PRODUCT INFORMATION MAIN */
.product-overview .prodInfo-container {
  display: flex;
  flex-direction: column;
  visibility: visible;
  transition-property: visibility;
  transition-duration: 500ms;
}

.product-overview .prodInfo-container-invisible {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0ms;
}

.product-overview .product-info {
  padding-top: 1.25rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
}

.product-overview .space {
  padding-bottom: .85rem;
}

.product-overview .star-reviews {
  flex: 1;
}

.product-overview .category-title {
  flex: 1;
}

.product-overview .product-name {
  flex: 1;
}

.product-overview .product-price {
  flex: 1;
}
