/* SEARCH BAR COMPONENT */
.navbar-container {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 14rem;
}

.logo-image {
  height: 4rem;
  width: 9rem;
}

.empty-space {
  flex-grow: 4;
}

.text-box {
  background: transparent;
  border: 0;
  color: #eee;
  border-bottom: 2px solid #eee;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  padding: 10px;
  height: 15px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.text-box:focus {
  background-color: transparent;
  outline: none;
}

.search-icon {
  color: #eee;
  background-color: transparent;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

