.product-overview .bubble-container {
  display: flex;
  padding-top: .25rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-overview .styleSelector-container {
  padding-top: .5rem;
  padding-left: .5rem;
}

.product-overview .bubble {
  position: relative;
}

.product-overview .style-container {
  padding-bottom: 1rem;
}

.product-overview .style-heading {
  padding-bottom: 1rem;
}

.product-overview .style-bubble {
  width: 75px;
  height: 75px;
  max-width: 75px;
  min-width:75px;
  min-height: 75px;
  max-height:75px;
  border-radius: 50%;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  z-index: 1;
  object-fit: cover;
  cursor: pointer;
  font-size: .65rem;
}

.product-overview .bubble-check {
  position: absolute;
  top: 0;
  right: 5%;
  width: 20px;
  height: 20px;
  color: #5A5A5A;
  background: white;
  border: 1px solid #5A5A5A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.product-overview .style-heading {
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}
